.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 1160px;
    border: 1px solid #e1e1e1;
}

.wrapper {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid #e1e1e1;
}

.title {
    text-align: center;
    font-family: sans-serif;
    margin-top: 0.5rem;
    font-size: 20px;
}

.range {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.code {
    margin: 1rem 0 1.5rem 0;
}
