.m-circular-slider {
    display: block;
    width: 6rem;
    height: 6rem;
    transform: rotate(-90deg);
    cursor: ns-resize;
    padding: 0.5rem;
}
.m-circular-slider__circle,
.m-circular-slider__progress {
    fill: transparent;
}
.m-circular-slider__circle {
    stroke: #243648;
}
.m-circular-slider__progress {
    stroke: #ed3530;
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
}

.m-circular-slider__knob {
    fill: #ed3530;
}
